{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h1>
    Letterboxd Stats - About Page
</h1>
<body>

<div style="width:800px; margin:0 auto;">
<br><br><br><br><br><br>
<p>
    If you want to support me, and encourage more work to refine this website, consider donating a little bit here:
    <br>
    <a href="https://www.buymeacoffee.com/troyschwab" target="_blank" rel="noopener noreferrer">Buy me a coffee link</a>
    <br><br>
    If you like the stats, please consider getting pro tier for letterboxd.
    <br>
    Their product is great and their stats from pro are much better than mine
    <br>
    <a href="https://letterboxd.com/pro/" target="_blank" rel="noopener noreferrer">Letterboxd pro link</a>
    <br><br><br><br><br><br>
    <a href="{% url 'home' %}">Main Page</a>
</p>
<br><br><br>

</div>

</body>
