
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h1>Error Page</h1>
    <body>
    <div style="width:800px; margin:0 auto;">
    <p>Something isn't quite right...<br><br>
        An error occurred. Maybe you didn't enter the username correctly, maybe that username doesn't exist...<br><br>
        Maybe something went wrong on our side...<br><br>
        Sorry about that! <br><br>
        </p></div>
        <img src="{% static './media/error.jpg' %}" width="500" height="600">
        </body>
            